body {
  margin: 0;
  color: #777;
  font-family: "Oswald", sans-serif;
}
li {
  list-style: none;
  display: inline;
}
blockquote {
  color: #196EB1;
  font-size: 30px;
  text-transform: uppercase;
  border-left: 2px solid #E1E7EA;
  padding-left: 15px;
  margin: 40px 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
#container {
  background-color: #fff;
  width: 1300px;
  margin: 0 auto;
}
#header {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-color: #fff;
  height: 520px;
  color: #09283C;
  font-size: 13px;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
#header a:hover {
  text-decoration: underline;
}
.top_nav {
  padding: 0 150px;
  margin: 0;
}
.logo{
  display: inline-block;
  float: left;
  margin: 8px 10px;
}
#header p {
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin: 17px 0;
}
#header ul  {
  float: right;
  display: inline-block;
  padding: 0 15px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}
#header ul li {
  padding: 0 5px;
}
#header h1 {
  color: #fff;
  font-size: 100px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 1px #004A8E;
  padding-top: 190px;
  margin: 0;
}
#header h4 {
  color: #09283C;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  margin: -15px 0 0 0;
}
#content {
  float: left;
  width: 590px;
  padding-left: 160px;
  font-family: "Open Sans", sans-serif;
  color: #545F66;
}
#content h1 {
  color: #0B3452;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 5px;
  font-weight: bold;
}
#content p {
  margin: 15px 0 15px 0;
  line-height: 26px;
}
.byline {
  margin: 0;
  padding: 0 0 20px 0;
}
.sm_avatar {
  height: 25px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.author {
  color: #196EB1;
  font-size: 12px;
}
.sm_gray {
  color: #A3B2BD;
  font-size: 12px;
}
.post_date {
  color: #A3B2BD;
  font-size: 12px;
  text-decoration: underline;
}
#sidebar {
  float: right;
  width: 280px;
  padding-right: 170px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.lg_avatar {
  padding-top: 55px;
}
.sidebar_author {
  text-transform: uppercase;
  color: #196EB1;
  font-weight:100;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0;
}

#sidebar ul {
  color: #ccc;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-right: 20px;

}
#sidebar ul li {
  padding-right: 20px;
}
#sidebar h2 {
  color: #196EB1;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 50px;
  text-align: left;
}
.sidebar_section {
  color: #A3B2BD;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}
#sidebar a {
  color: #ccc;
  float: right;
  text-decoration: underline;
  font-size: 12px;
}
#posts {
  display: inline-block;
  width: 1300px;
  clear: both;
  border-top: 1px #ccc solid;
  margin-top: 80px;
}
.overlay {
  background-color: #196EB1;
  width: auto;
}
#posts img:hover {
  opacity: 80%;
}
#posts img {
  width: 325px;
  height: 330px;
  float: left;
  background-color: #196EB1;
}
#posts h3 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0B3452;
}
#posts h2 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #0B3452;
  margin: 20px 0;
}
#footer {
  background-color: #0B3452;
  min-height: 80px;
  color: #A5B3C8;
  font-size: 13px;
  clear: both;
  text-align: center;
  padding: 10px 0;
  font-family: "Asap", sans-serif;
  margin: -5px 0 0 0;
}
.footer_container {
  padding: 20px 80px;
  width: 80%;
  margin: 0 auto ;

}
#footer img {
  display: inline-block;
  float: left;
  margin: 0 10px;
}
#footer p {
  display: inline-block;
  float: left;
}
#footer ul  {
  float: right;
  display: inline-block;
}
#footer a:hover {
  text-decoration: underline;
}
